<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Editar tareas</title>
</head>
<body>
  <h1>Editar Tarea</h1>
  <form action="/edit/<%= list.id_tarea %> " method="post">
    <div>
      <input type="hidden" name="id_tarea" value="<%= list.id_tarea %>">
    </div>
    <div>
      <textarea name="descripcion" id="descripcion" placeholder="Nueva tarea" required cols="30" rows="2"><%= list.descripcion %> </textarea>
    </div>
    <div>
      <input type="submit" value="Editar Tarea">
    </div>
  </form>
  
</body>
</html>